
//
// San Franciso
// Semi-Bold
// 
// Thanks https://gist.github.com/AndrewBarba/2c0f6612ceef30f5f55d
//
@font-face
    font-family: "San Francisco"
    font-weight: 500
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2'),
         url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff') format('woff'),
         url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf') format('truetype')
