//
// Just the stage setup
// stormtrooper-move-along.gif
//
html
body
    background: #F4B350
    width: 100%
    height: 100%

body
    box-sizing: border-box
    padding: 0 10%
    max-width: 100%
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    background-image: radial-gradient(ellipse at center, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 80%)
    font-family: Avenir, Trebuchet, 'Trebuchet MS', sans-serif

    &
    a
        color: darken(#F4B350, 35%)

.stage
    > h1
        margin-bottom: 5%
        font-size: 7vw
        font-weight: 400
        color: inherit

        @media (min-width: 50em)
            font-size: 5vw
    > p
        margin-bottom: 5%

    > p:last-child
        margin-top: 5%

.navbar
    background: rgba(238, 238, 238, .5)
    position: fixed
    left: 0
    top: 0
    width: 100%
    padding: .5em 1em
    a
        text-decoration: none
    p
        max-width: 1280px
        margin: 0 auto
        text-align: left
