//
// Button Variables
//
$badge-background       = #000
$badge-color            = #fff
$badge-border           = #ddd

$badge-background-hover = #111
$badge-color-hover      = #fff
$badge-border-hover     = #fff

$badge-width            = 190px // defined as min-width

// San Francisco all the things
// http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/
// https://gist.github.com/AndrewBarba/2c0f6612ceef30f5f55d
$badge-font             = system, -apple-system, '.SFNSDisplay-Regular', 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
